# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment variables & secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & System files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Temp / Scratch files
scratch/
temp/

.vercel
